*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #1f91ec;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}
img{
    max-width: 100%;
}
h1 {
    font-size: 64px;
    line-height: 1.2em;
    display: inline-block;
    .fs-sm {
        font-size: 0.55em;
        line-height: 1.2em;
        display: block;
        font-weight: 500;
    }
}
.header {
    background: url(/image/heaven.png) no-repeat, linear-gradient(45deg, #3dcdf7, transparent);
    background-size: cover;
    background-position: center bottom;
    box-shadow: inset 10px -10px 150px -75px #3aaff1;
    position: relative;
    z-index: 11111111;
    &-content {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        h1{
            margin-bottom: 24px;
        }
        .form-title {
            font-size: 18px;
            margin-bottom: 22px;
        }
        form {
            max-width: 400px;
        }
        &_image{
            position: absolute;
            right: 30px;
            box-shadow: 0px 0px 0px 10px rgba(255, 255, 255), 0px 0px 50px -25px #000;
            border-radius: 80% 120%;
            width: 40vw;
            padding-bottom: 25vw;
            overflow: hidden;
            img{
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    label {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: 18px;
    }
    .placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 25px;
        color: #000000;
        transform-origin: center left;
        transition: 0.3s;
    }
    .placeholder.active {
        transform: translateY(-24px) scale(0.6);
    }
    input,button{
        border: 0;
        outline: none;
        font-size: inherit;
    }
    input[type="text"] {
        height: 50px;
        padding: 17px 25px 10px 25px;
        border-radius: 25px;
        width: 100%;
    }
    .error {
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100% - 140px);
        height: 50px;
        background: #E91E63;
        color: #fff;
        border-radius: 50px;
        padding: 10px 25px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 10px;
        overflow: hidden;
        box-shadow: inset 0px 0px 15px -2px #000;
        cursor: not-allowed;
        transform: scale(0.7);
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    .error.show{
        transform: scale(1);
        opacity: 1;
    }
    button {
        height: 50px;
        min-width: 130px;
        padding: 0 30px;
        border-radius: 30px;
        background: linear-gradient(45deg, #0c89ec, #59e5ff);
        color: #fff;
        text-transform: lowercase;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        box-shadow: 0px 0px 20px -11px #000;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover{
            transform: scale(0.9);
        }
    }

}
.content {
    padding: 100px;
    background: linear-gradient(45deg, #3dcdf7, transparent);
    position: relative;
    z-index: 1;
    &:after{
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: url(/image/heaven-1.png) no-repeat;
        background-size: cover;
        background-position: center bottom;
        z-index: -1;
    }
    .section-title {
        text-align: center;
        font-size: 38px;
        margin-bottom: 20px;
    }
    .search {
        flex-direction: row;
        max-width: 760px;
        margin: 0 auto;
        label{
            width: auto;
            margin-bottom: 0px;
            flex-grow: 1;
    margin-right: 10px;
        }
    }
    .content-table_filter {
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
    }
    .content-table {
        margin: 60px 0 20px;
        &_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            margin-bottom: 5px;
            border-radius: 20px;
            padding: 15px 20px;
            &-head{
                background: transparent;
                padding: 5px 20px;
                .content-table_row-cell{
                    color: #fff;
                    font-weight: bold;
                    text-shadow: 1px 1px 0px #696969;
                    cursor: pointer;
                    .icon {
                        display: inline-block;
                        width: 30px;
                        margin-left: 10px;
                        cursor: pointer;
                        border-radius: 50%;
                        background: linear-gradient(45deg, #0c89ec, #59e5ff);
                        box-shadow: 0px 0px 20px -9px #000;
                        display: inline-flex;
                        padding: 8px;
                    }
                }
            }
            &-cell{
                &-title{
                    font-weight: bold;
                    width: 50%;
                }
                &-tags {
                    width: 25%;
                    text-align: center;
                    ul {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        list-style: none;
                        margin-bottom: -4px;
                        li {
                            margin: 0 2px 4px;
                            padding: 5px 10px;
                            border: 2px solid #2195ed;
                            border-radius: 23px;
                            font-size: 14px;
                        }
                    }
                }
                &-date{
                    width: 25%;
                    text-align: right;
                }
            }
        }
    }


}
