* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #1f91ec;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 64px;
  line-height: 1.2em;
  display: inline-block;
}

h1 .fs-sm {
  font-size: 0.55em;
  line-height: 1.2em;
  display: block;
  font-weight: 500;
}

.header {
  background: url(/image/heaven.png) no-repeat, linear-gradient(45deg, #3dcdf7, transparent);
  background-size: cover;
  background-position: center bottom;
  box-shadow: inset 10px -10px 150px -75px #3aaff1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11111111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header.hide {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
}

.header-content {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
}

.header-content h1 {
  margin-bottom: 24px;
}

.header-content .form-title {
  font-size: 18px;
  margin-bottom: 22px;
}

.header-content form {
  max-width: 400px;
}

.header-content_image {
  position: absolute;
  right: 30px;
  box-shadow: 0px 0px 0px 10px white, 0px 0px 50px -25px #000;
  border-radius: 80% 120%;
  width: 40vw;
  padding-bottom: 25vw;
  overflow: hidden;
}

.header-content_image img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  position: relative;
}

form label {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 18px;
}

form .placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25px;
  color: #000000;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

form .placeholder.active {
  -webkit-transform: translateY(-24px) scale(0.6);
          transform: translateY(-24px) scale(0.6);
}

form input,
form button {
  border: 0;
  outline: none;
  font-size: inherit;
}

form input[type=text] {
  height: 50px;
  padding: 17px 25px 10px 25px;
  border-radius: 25px;
  width: 100%;
}

form .error {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 140px);
  height: 50px;
  background: #E91E63;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 10px;
  overflow: hidden;
  box-shadow: inset 0px 0px 15px -2px #000;
  cursor: not-allowed;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

form .error.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

form button {
  height: 50px;
  min-width: 130px;
  padding: 0 30px;
  border-radius: 30px;
  background: linear-gradient(45deg, #0c89ec, #59e5ff);
  color: #fff;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  box-shadow: 0px 0px 20px -11px #000;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

form button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.content {
  padding: 100px;
  min-height: 100vh;
  background: linear-gradient(45deg, #3dcdf7, transparent);
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s 0.3s;
  transition: 0.4s 0.3s;
}

.content.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.content:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: url(/image/heaven-1.png) no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: -1;
}

.content .section-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
}

.content .search {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  max-width: 760px;
  margin: 0 auto;
}

.content .search label {
  width: auto;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-right: 10px;
}

.content .content-table_filter {
  margin-top: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.content .content-table {
  margin: 60px 0 20px;
}

.content .content-table_row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 20px;
  padding: 15px 20px;
}

.content .content-table_row-head {
  background: transparent;
  padding: 5px 20px;
}

.content .content-table_row-head .content-table_row-cell {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0px #696969;
  cursor: pointer;
}

.content .content-table_row-head .content-table_row-cell .icon {
  display: inline-block;
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(45deg, #0c89ec, #59e5ff);
  box-shadow: 0px 0px 20px -9px #000;
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.content .content-table_row-head .content-table_row-cell .icon.reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content .content-table_row-cell-title {
  font-weight: bold;
  width: 50%;
}

.content .content-table_row-cell-tags {
  width: 25%;
  text-align: center;
}

.content .content-table_row-cell-tags ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: -4px;
}

.content .content-table_row-cell-tags ul li {
  margin: 0 2px 4px;
  padding: 5px 10px;
  border: 2px solid #2195ed;
  border-radius: 23px;
  font-size: 14px;
}

.content .content-table_row-cell-date {
  width: 25%;
  text-align: right;
}

